{
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "extensions": [
                    ".ios.js",
                    ".android.js",
                    ".js",
                    ".ts",
                    ".tsx",
                    ".json"
                ],
                "alias": {
                    "*": ".",
                    "@root": "./",
                    "@src": "./src",
                    "@apis": "./src/apis",
                    "@assets": "./src/assets",
                    "@components": "./src/components",
                    "@core": "./src/core",
                    "@hooks": "./src/hooks",
                    "@i18n": "./src/i18n",
                    "@navigation": "./src/navigation",
                    "@screens": "./src/screens",
                    "@services": "./src/services",
                    "@store": "./src/store",
                    "@utils": "./src/utils",
                    "@theme": "./src/theme",
                    "@static": "./src/static/*"
                }
            }
        ]
    ]
}